body{
  overflow-x:  hidden;
}
// app global css in SCSS form
@mixin pseudo-circle {
  content: "";
  position: absolute;
  bottom: -12.5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #121212;
  z-index: 1;

}
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $sm-breakpoint){
  .container,
  .container-sm{
    max-width: 580px
  }
}


@media (min-width: $md-breakpoint){
  .container,
  .container-sm,
  .container-md{
    max-width: 800px
  }
}
@media (min-width : $lg-breakpoint) {
  .container-lg{
    max-width: 1200px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

